
body{
    background-color: #262626;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin-top: 50px;
    text-align: center;
    align-items: center;
    color: #fff;
}

#canvas-board{
    background-color: #cccccc;
    border: 5px solid #0091ff;
    box-shadow: 0 0 15px #000;
}

#instruction{
    font-size: 14px;
    font-style: italic;
    color: #ce5252;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
}